


body{
 color:rgb(0, 0, 0);
 background-color: rgb(211, 228, 255);
}

hr{
   background-color:  black;
   border-style: none;
   border-top-style: dotted;
   border-color:grey;
   border-width: 0.5px;
   width : 100%;
}
h1{
    color: rgb(10, 14, 56);
}

img{
    height:210px;
    width :210px;
   border-radius: 100%;
   
}



#heading{
    color:rgb(0, 0, 0);
}

